body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1087px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:36px;
  top:47px;
  width:273px;
  height:489px;
  font-size:18px;
  text-align:left;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:269px;
  word-wrap:break-word;
}
#u478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:278px;
  height:489px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:left;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:47px;
  width:278px;
  height:489px;
  font-size:18px;
  text-align:left;
}
#u478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:274px;
  word-wrap:break-word;
}
#u479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:left;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:63px;
  width:198px;
  height:164px;
  color:#FF0000;
  text-align:left;
}
#u479_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:194px;
  word-wrap:break-word;
}
#u480_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:237px;
  width:198px;
  height:164px;
  font-size:12px;
  color:#000000;
  text-align:left;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:39px;
  width:194px;
  word-wrap:break-word;
}
#u481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  text-align:left;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:63px;
  width:198px;
  height:164px;
  font-size:12px;
  text-align:left;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:53px;
  width:194px;
  word-wrap:break-word;
}
#u482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:164px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:237px;
  width:198px;
  height:164px;
  text-align:left;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:48px;
  width:194px;
  word-wrap:break-word;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:410px;
  height:9px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:231px;
  width:405px;
  height:4px;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:410px;
  height:9px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:232px;
  width:405px;
  height:4px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
